* {
  font-family: "Georgia", "Times New Roman", serif;
}

body {
  background-color: rgb(238, 226, 226);
  color: rgb(18, 14, 14);
}

.images {
  height: auto;
  width: 500px;
}

.adjust-h1-color,
.adjust-h2-color {
  color: blue;
  background-color: hsla(295, 38%, 61%, 0.577);
}
