* {
  font-family: "Georgia", "Times New Roman", serif;
}

body {
  background-color: rgb(238, 226, 226);
  color: rgb(18, 14, 14);
}

.images {
  height: auto;
  width: 500px;
}

.adjust-h1-color,
.adjust-h2-color {
  color: blue;
  background-color: hsla(295, 38%, 61%, 0.577);
}

.bulgogi.description,
.hotpot.description,
.adobo.description {
  color: rgb(0, 23, 92);
}

.ancestor .contents {
  background-color: bisque;
}

.adjust-h1-color {
  width: 400px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 0.5rem outset rgba(149, 20, 181, 0.783);
  border-radius: 30px;
}

/* * {
  outline: 2px solid red
} */

.bulgogi-recipe,
.hotpot-recipe,
.adobo-recipe {
  width: 150px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 0.5rem outset rgba(149, 9, 48, 0.978);
  border-radius: 30px;
}

.bulgogi-recipe {
  margin-top: 30px;
  margin-bottom: 15px;
}

.hotpot-recipe {
  margin-bottom: 15px;
}